<h2>Celebrities index </h2>
<h3>Here you finde the VIest of the Ps</h3>
{{#each celebritiesList}}
<a href="/celebrities/{{_id}}">
		<p>{{name}}</p>
	    </a>
{{/each}}

<h6><a href="/celebrities/new">add a new famous!</a></h6>
